body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: animate 12s infinite ease-in-out alternate-reverse;
}

.body::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0, 0.35);
    z-index: 1;
}

@keyframes animate {
    0% {
        background-image: url(https://static.vecteezy.com/system/resources/thumbnails/031/622/519/small_2x/background-for-productgraphy-ai-generated-photo.jpg);
    }

    25% {
        background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/06/Free-Images-Wallpaper-HD-Background.jpg);
    }

    50% {
        background-image: url(https://wallpapers.com/images/file/hd-background-x0u5ot4ao7xlobz5.jpg);
    }

    75% {
        background-image: url(https://www.thewowstyle.com/wp-content/uploads/2015/04/free-wallpaper-1.jpg);
    }

    100% {
        background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Free-4k-Backgrounds-Screen-Download.jpg);
    }
}

:root{
    --bgcolor: #1cb7da;
}

*{
    margin: 0;
    padding: 0;
}

.page-header{

    padding: 3rem;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    height: 10vh;
}

.logo{
    color: white;
    align-self: center;
    margin-left: 2rem;
    font-size: 2.5rem;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo a:hover{
    color: rgb(8, 255, 90);
}

.nav-bar a{
    margin: auto;
}

.nav-bar a{
    margin-right: 2rem;
    color: white;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-bar a:hover{
    background-color: rgb(8, 245, 154);
    border-radius: 8px;
    border: 1px solid white;
    padding: 0.9rem;
}

.menu-icon{
    color: white;
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 700px){
    .nav-bar{
        display: none;
        position: absolute;
        top: 3.7rem;
        left: 0;
        width: 100%;
        background-color: var(--bgcolor);
        text-align: center;
    }

    .nav-bar.responsive {
        display: block;
    }

    .nav-bar a {
        display: block;
    }

    .menu-icon {
        display: block;
        z-index: 1;
    }

    .logo{
        font-size: 1.4rem;
    }
}